.educacion {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar las secciones verticalmente */
    align-items: center;
    padding: 5% 12.5%;
}

.educacion__contenido {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-bottom: 10px; /* Reduce el margen inferior para separar de la sección habilidades */
}

.educacion__titulo {
    font-size: 2rem;
    font-family: var(--fuente-krona);
    text-align: center;
    margin-bottom: 25px;
}

.educacion__item {
    background-color: var(--hover-color);
    padding: 20px;
    border-radius: 10px;
}

.educacion__item__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.educacion__item__titulo {
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    color: var(--color-terciario);
}

.educacion__item__texto {
    font-size: 1.2rem;
    font-family: var(--fuente-montserrat);
    margin-top: 10px;
}

.educacion__item__icono {
    font-size: 30px;
    color: var(--color-terciario);
}

.habilidad__item__icono {
    font-size: 30px;
    color: var(--color-terciario);
    margin-right: 10px; /* Añade margen a la derecha para separar del texto */
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5% 15%;
}

.habilidades__titulo {
    font-size: 2rem;
    font-family: var(--fuente-krona);
    text-align: center;
    margin-bottom: 20px;
}

.habilidades__iconos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.habilidad__item {
    display: flex;
    align-items: center;
    background-color: var(--hover-color);
    padding: 10px;
    border-radius: 10px;
}

.habilidad__item__texto {
    font-size: 1.2rem;
    font-family: var(--fuente-montserrat);
    color: var(--colo-secundario);
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: var(--fuente-montserrat);
    margin-left: 10px;
}

.badge{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: 600;
    margin-left: 10px;
}
.in-progress {
    background-color: #FFA500; /* Color naranja para "En curso" */
    color: var(--color-primario);
}

.completed {
    background-color: #32CD32; /* Color verde para "Completo" */
    color: var(--color-primario);
}

